<div class="landing">
	<div class="container">
		<div class="row mt-5">
			<h4 style="margin-top: 55px; color: white;">Open A Checking Account</h4>
			<!-- <h5 class="mt-3">
				 Consider the benefits of opening a Bank of America Advantage Banking Account.
			</h5> -->
		</div>
		<div class="row">
			<div class="col-md-6">
				<button type="button" class="registration mt-5"><a class="reg" routerLink="/registration">Open Account</a>
				</button>
			</div>

			<!-- <div class="col-md-6 mt-5">
				 <img src="../../../assets/images/bank.jpg" height="300px;" width="400px;">
			</div> -->

		</div>

		<div class="container mx-auto mt-4">
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="../../../assets/images/spend.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Spend</h5>
							<h6 class="card-subtitle mb-2">Start Spending</h6>
							<p class="card-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
							<a class="money" href="#" class="btn mr-2">Start Spending</a>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="../../../assets/images/save.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Save</h5>
							<h6 class="card-subtitle mb-2">Start Saving</h6>
							<p class="card-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
							<a class="money" href="#" class="btn mr-2">Start Saving</a>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="../../../assets/images/donate.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Donate</h5>
							<h6 class="card-subtitle mb-2">Start Donating</h6>
							<p class="card-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
							<a class="money" href="#" class="btn mr-2">Start Donating</a>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
