<div class="container bg-light">
    <div class="row mt-5">
            <h2>Open A Checking Account</h2>
            <h5 class="mt-3">
                Consider the benefits of opening a Bank of America Advantage Banking Account.
            </h5>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button
            " class="registration mt-5"><a class="reg" routerLink="Registration">Open Account</a></button>
        </div>
        
        <div class="col-md-6 mt-5">
            <img src="../../../assets/images/bank.jpg" height="400px;" width="600px;">
        </div>
       
    </div>
  </div>