.login-button {
  color: red;
  font-size: 20px;
}
.container{
  max-width: 1000px;
}
.logo {
  font-size: 40px;
  color: navy;
}

.reg {
  text-decoration: none;
  color: black;
  background-color: white;
}

.registration {
  font-size: 20px;

}

:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.card-body {
  background: #cdf3f7;
  color: black;
}

.card {
  background: #222;
  border: 1px solid #fff;
  color: black !important;
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none !important;
  transition: all .4s ease;
  background: var(--gradient) !important;
  -webkit-text-fill-color: #FF2A7AC3 !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
  margin-left: 50px;
}
.landing{
  background-color: #000080;
}

@media only screen and (max-width: 844px) {

}
