<div class="container">
    <div class="main-forgot-section">
        <div class="login-form-image">
                <img src="./assets/images/forgot-password.webp">
        </div>
        <div class="login form">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <header>Forgot Password ?</header>
            <form action="#">
                <label for="input-field">Please Enter your Email adress.You will receive a link to create a new password via email </label>
              <input class="forgot-field" type="text" placeholder="Enter your email"  required>
              <input type="button" class="button" value="Reset Password">
            </form>
            <div class="signup">
               <a href="javascriptvoid()">Signup</a>
               <a href="javascriptvoid()">Login</a>
            </div>
          </div>
    </div>
   
</div>