.container .form {
	padding: 2rem;
}

.container {
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1000px;
	width: 100%;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form header {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1.5rem;
}

.form h3 {
	text-align: center;
}

.form input {
	height: 40px;
	width: 100%;
	padding: 0 15px;
	font-size: 17px;
	margin-bottom: 1.3rem;
	border: 1px solid #ddd;
	border-radius: 6px;
	outline: none;
}

input.button {
	background-color: #202A44;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.4s;
}

.signup {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}

.signup a {
	color: #202A44;
	cursor: pointer;
	text-decoration: none;
}

.signup a:hover {
	text-decoration: underline;
	color: RED;
}

.form input.button:hover {
	background: lightgrey;
	color: #000000;
}

input.forgot-field {
	margin-top: 21px;
}

.main-forgot-section {
	display: flex;
}
