<div class="container p-0">
	<div class="card px-4">
		<p class="h8 py-3">Deposit Details</p>
		<div class="row gx-3">
			<div class="col-12">
				<div class="d-flex flex-column">
					<p class="text mb-1">Person Name</p>
					<input class="form-control mb-3" placeholder="Name" type="text" value="Barry Allen">
				</div>
			</div>
			<div class="col-12">
				<div class="d-flex flex-column">
					<p class="text mb-1">Cheque Number</p>
					<input class="form-control mb-3" placeholder="1234 5678 435678" type="text">
				</div>
			</div>
			<div class="col-6">
				<div class="d-flex flex-column">
					<p class="text mb-1">Expiry</p>
					<input [bsConfig]="datepickerConfig" [maxDate]="bsValue" bsDatepicker
							 class="form-control mb-3" formControlName="dateOfBirth" name="date"
							 type="text">
				</div>
			</div>
			<div class="col-6">
				<div class="d-flex flex-column">
					<p class="text mb-1">Signature</p>
					<input class="form-control mb-3" placeholder="Testing" type="text">
				</div>
			</div>
			<div class="col-12">
				<div class="btn btn-primary mb-3">
					<span class="ps-3">Pay $243</span>
					 <i class="fa fa-arrow-right"></i> 

				</div>
			</div>
		</div>
	</div>
</div>
