.centerRegistrationForm
{
    padding-right: 10%;
    padding-left: 10%;
}
.ro{
    display:flex;
}

.modal .show{
    display: block;
}


.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #b3bac0;
}