<div class="account-spend">
  <table id="bankDetails">
    <tr>
      <th>Account Name</th>
      <th>Available Balance</th>
      <th>Present Balance</th>
      <th>Account Type</th>
    </tr>
    <tbody>
    <tr>
      <td>
        <a href="#">My Money</a>
      </td>
      <td>{{ 4000 | number:'':'en-US'}}</td>
      <td>{{ 4000 | number:'':'en-US'}}</td>
      <td>Spend</td>
    </tr>
    <tr>
      <td>
        <a href="#">Savings</a>
      </td>
      <td>{{ 4000 | number:'':'en-US'}}</td>
      <td>{{ 4000 | number:'':'en-US'}}</td>
      <td>Savings</td>
    </tr>
    <tr>
      <td>
        <a href="#">Charity</a>
      </td>
      <td>{{ 4000 | number:'':'en-US'}}</td>
      <td>{{ 4000 | number:'':'en-US'}}</td>
      <td>Charity</td>
    </tr>
    </tbody>
  </table>
</div>
