<div class="container">
    <div class="main-forgot-section">
        <div class="login-form-image">
            <img src="./assets/images/forgot-password.webp">
        </div>
        <div class="login form">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <header>Update Password ?</header>
            <form (ngSubmit)="onSubmit()" [formGroup]="updateForm">
                <div>
                    <label for="input-field">Please Enter your password</label>
                    <input class="forgot-field" type="password" formControlName="password"
                        placeholder="Enter your new password" required>
                    <div *ngIf="updateForm.controls['password'].invalid && (updateForm.controls['password'].dirty || updateForm.controls['password'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="updateForm.controls['password'].errors?.required">
                            Password is required.
                        </div>
                    </div>
                </div>
                <div>
                    <input class="forgot-field newpass" type="password" formControlName="UpdatePassword"
                        placeholder="Confirm your new password" required>
                    <div *ngIf="updateForm.controls['UpdatePassword'].invalid && (updateForm.controls['UpdatePassword'].dirty || updateForm.controls['UpdatePassword'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="updateForm.controls['UpdatePassword'].errors?.required">
                            Confirm password is required.
                        </div>
                        <div *ngIf="updateForm.controls['UpdatePassword'].errors?.confirmedValidator">
                            Passwords did not match
                        </div>
                    </div>
                </div>
                <button type="submit" class="button"> Update Password </button>
            </form>
        </div>
    </div>

</div>