<div class="container">
	<div class="main-section col-md-12 col-sm-12 ">
		<h3 class="text-center">Receipt</h3>
		<table style="width: 50%;margin: 0 auto 30px;">
			<tr style="height: 50px;border-top: 1pt dashed;border-bottom: 1pt dashed;">
				<td class="available-balance" style="font-size: 24px;font-weight: 500;"><span class="heading">Current Balance </span>:
				</td>
				<td class="available-balance" style="font-size: 24px;font-weight: 500;text-align:right">&#8377;
					2000
				</td>
			</tr>
			<tr>
				<td class="sub-headings" style="font-size: 20px; font-weight: 400;"><span
					class="heading">Item Cost</span> :
				</td>
				<td class="sub-headings" style="text-align:right">&#8377; 500</td>
			</tr>
			<tr>
				<td class="sub-headings" style="font-size: 20px; font-weight: 400;"><span
					class="heading">Sales Tax</span> :
				</td>
				<td class="sub-headings" style="text-align:right">&#8377; 50</td>
			</tr>
			<tr>
				<td class="sub-headings" style="font-size: 20px; font-weight: 400;"><span class="heading">Shipping Cost</span>
					:
				</td>
				<td class="sub-headings" style="text-align:right">&#8377; 50</td>
			</tr>
			<tr>
				<td class="sub-headings" style="font-size: 20px; font-weight: 400;"><span
					class="heading">Sub Total </span>:
				</td>
				<td class="sub-headings" style="text-align:right">&#8377; 600</td>
			</tr>
			<tr style="line-height: 50px;border-top: 1pt dashed;border-bottom: 1pt dashed; ">
				<td class="available-balance" style="font-size: 24px; font-weight: 500;"><span class="heading">Account Balance</span>
					:
				</td>
				<td class="available-balance" style="text-align:right;font-size: 24px; font-weight: 500;">&#8377;
					1400
				</td>
			</tr>
		</table>

	</div>
</div>
