.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card{
  margin-top: 70px;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

.login {
  background-color: #202A44;
  color: white;
}

a {
  color: #202A44;
}

.check {
  background-color: #202A44;
}
