<app-dashboard></app-dashboard>
<div class="container mt-5 mb-5">
 <div class="row">
    <h2>Transaction History</h2>
    <table class="table" id="bankDetails">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Reference</th>
            <th scope="col">Transaction History</th>
            <th scope="col">Credit</th>
            <th scope="col">Debit</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">24/03/2023</th>
            <td>0123456</td>
            <td>Account Interest</td>
            <td>17.95</td>
            <td></td>
            <td>457687468</td>
          </tr>
          <tr>
            <th scope="row">23/03/2023</th>
            <td>0123456</td>
            <td>Branch Cheque</td>
            <td>95.45</td>
            <td></td>
            <td>457687468</td>
          </tr>
          <tr>
            <th scope="row">22/03/2023</th>
            <td>0123456</td>
            <td>Branch Deposit</td>
            <td></td>
            <td>48.95</td>
            <td>457687468</td>
          </tr>
          <tr>
            <th scope="row">21/03/2023</th>
            <td>0123456</td>
            <td>Cost of Bank</td>
            <td></td>
            <td>17.70</td>
            <td>457687468</td>
          </tr>
          <tr>
            <th scope="row">20/03/2023</th>
            <td>0123456</td>
            <td>Branch Deposit</td>
            <td>17.95</td>
            <td></td>
            <td>457687468</td>
          </tr>
        </tbody>
      </table>
 </div>

</div>