<div class="container-fluid">
    <div class="search-container">
        <div class="select-filter">
            <select name="pets" id="pet-select">
                <option value="">--Please Select city--</option>
                <option value="dog">Mohali</option>
                <option value="cat">Kharar</option>
                <option value="hamster">Abc</option>
                <option value="parrot">Xyz</option>
            </select>
        </div>
        <form>
            <div class="search-field">
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-2" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="./assets/images/cons-toy.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./assets/images/education-toy.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./assets/images/stuffed.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="main-items-container">
        <div class="row justify-content-between mt-4">
            <div class="paintings col-md-3 col-sm-6 p-4">
                <h3>Education Sets</h3>
                <img src="./assets/images/education-toy.jpg">
                <a  href="javascriptvoid()">See More</a>
            </div>
            <div class="paintings col-md-3 col-sm-6 p-4">
                <h3>Construction Sets</h3>
                <img src="./assets/images/cons-toy.jpg">
                <a href="javascriptvoid()">See More</a>
            </div>
            <div class="paintings col-md-3  col-sm-6 p-4">
                <h3>Puzzle</h3>
                <img src="./assets/images/puzzle.jpg">
                <a href="javascriptvoid()">See More</a>
            </div>
            <div class="paintings col-md-3 col-sm-6 p-4">
                <h3>Stuffed Toys</h3>
               <img src="./assets/images/stuffed.jpg">
                <a href="javascriptvoid()">See More</a> 
            </div>
        </div>

        <div class="row justify-content-between mt-4">
            <div class="paintings col-md-3 col-sm-6 p-4">
                <h3>Action Figure</h3>
                <img src="./assets/images/action-toy.jpg">
                <a href="javascriptvoid()">See More</a>
            </div>
            <div class="paintings col-md-3 col-sm-6 p-4">
                <h3>Barbies</h3>
                <img src="./assets/images/barbie.jpg">
                <a href="javascriptvoid()">See More</a>
            </div>
            <div class="paintings col-md-3  col-sm-6 p-4">
                <h3>Guns </h3>
                <img src="./assets/images/gun.jpg">
                <a href="javascriptvoid()">See More</a>
            </div>
            <div class="paintings col-md-3 col-sm-6 p-4">
                <h3>Cars </h3>
               <img src="./assets/images/car-toy.jpg">
                <a href="javascriptvoid()">See More</a> 
            </div>
        </div>
    </div>
</div>
<div>
    <p><br></p>
</div>
