<div class="reg_form" style="padding-bottom:70px;">
	<div class="container reg">
		<div style="padding-top: 20px;"><h2 class="text-center m-3 p-3x">Open An Account</h2></div>
		<div class="centerRegistrationForm mt-5 mr-5 ">
			<!-- animate__animated animate__zoomInDown  -->
			<div class="card">
				<div class="card-body p-4">
					<form (ngSubmit)="onSubmit()" [class.submitted]="submitted" [formGroup]="service.registrationForm">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>First Name</label>
									<input class="form-control" formControlName="firstName" minlength="5" name="firstName"
											 required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>Last Name</label>
									<input class="form-control" formControlName="lastName" minlength="5" name="lastName"
											 required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>Email</label>
									<input class="form-control" formControlName="email" name="email" required type="email">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>Password</label>
									<input class="form-control" formControlName="password" minlength="6" name="password" required
											 type="password">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>Date Of Birth</label>
									<input [bsConfig]="datepickerConfig" [maxDate]="bsValue" bsDatepicker class="form-control"
											 formControlName="dateOfBirth"
											 name="dateOfBirth"
											 type="text">

								</div>
							</div>
							<div class="col-md-6 mb-4">
								<div class="form-group p-3">
									<label>Phone</label>


									<input class="form-control" formControlName="phone" name="phone" required type="number">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>Address</label>
									<textarea #address (input)="GetAddressSugestions(address.value)" class="form-control address"
												 formControlName="address" id="address" name="address"
												 type="textarea"></textarea>
									<div *ngIf="addressInput" class="autocomplete">
										<ul>
											<li (click)="Setfields(suggestion.city,suggestion.state,suggestion.address_line1,suggestion.postcode);" *ngFor="let suggestion of apiModel"
												 class="autocomplete-items">{{suggestion.address_line1 + " " + suggestion.address_line2}}</li>
										</ul>
									</div>

								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>City</label>
									<input class="form-control" formControlName="city" type="text">


								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="form-group p-3">
									<label>State</label>
									<input class="form-control" formControlName="state" id="state" name="city" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group p-3">
									<label>Zip Code</label>
									<input class="form-control" formControlName="postalCode" id="postcode" maxlength="6" name="postalCode"
											 required
											 type="number">
								</div>
							</div>

						</div>
						<div class="form-group text-center">
							<button class="btn btn-block submit" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
