<div class="container mx-auto mt-4">
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img alt="..." class="card-img-top" src="../../../assets/images/spend.jpg">
				<div class="card-body">
					<h5 class="card-title">Spend</h5>
					<h6 class="card-subtitle mb-2">Start Spending</h6>
					<p class="card-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
					<a class="money btn mr-2" href="#">Start Spending</a>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img alt="..." class="card-img-top" src="../../../assets/images/save.jpg">
				<div class="card-body">
					<h5 class="card-title">Save</h5>
					<h6 class="card-subtitle mb-2">Start Saving</h6>
					<p class="card-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
					<a class="money btn mr-2" href="#">Start Saving</a>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img alt="..." class="card-img-top" src="../../../assets/images/donate.jpg">
				<div class="card-body">
					<h5 class="card-title">Donate</h5>
					<h6 class="card-subtitle mb-2">Start Donating</h6>
					<p class="card-text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
					<a class="money btn mr-2" href="#">Start Donating</a>

				</div>
			</div>
		</div>

	</div>
</div>
