<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4 pb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Toys</h5>
                    <div class="toy_image">
                        <img src="./assets/images/cons-toy.jpg">
                    </div>
                    <p class="card-text">A toy or plaything is an object that is used primarily to provide entertainment. Simple examples include toy blocks, board games, and dolls.</p>
                    <a [routerLink]="['/toys-dashboard']" class="money btn mr-2" href="#">Shop Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clothes</h5>
                    <div class="cloth_image">
                        <img src="./assets/images/clothes.jpg">
                    </div>
                    <p class="card-text">Clothing is any item worn on the body. Typically, clothing is made of fabrics or textiles, but over time it has included garments made from animal skin and other thin sheets of materials and natural products found in the environment, put together.</p>
                    <a class="money btn mr-2" href="#">Shop Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Magazines and Books</h5>
                    <div class="cloth_image">
                        <img src="./assets/images/magazines.jpg">
                    </div>
                    <p class="card-text">A magazine is a periodic publication that includes articles and graphics, frequently on a specific topic or directed at a particular readership. In contrast, a book is a written or printed work bound with covers and has its pages adhered or sewn together along one side.</p>
                    <a class="money btn mr-2" href="#">Shop Now</a>

                </div>
            </div>
        </div>

        <div class="col-md-4 pb-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Games</h5>
                    <div class="cloth_image">
                        <img src="./assets/images/games.jpg">
                    </div>
                    <p class="card-text">A game is a structured form of play, usually undertaken for entertainment or fun, and sometimes used as an educational tool.</p>
                    <a class="money btn mr-2" href="#">Shop Now</a>

                </div>
            </div>
        </div>

        <div class="col-md-4 pb-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Bikes</h5>
                    <div class="cloth_image">
                        <img src="./assets/images/cycle.jpg">
                    </div>
                    <p class="card-text">A bicycle, also called a pedal cycle, bike, push-bike or cycle, is a human-powered or motor-powered assisted, pedal-driven, single-track vehicle, having two wheels attached to a frame, one behind the other.</p>
                    <a class="money btn mr-2" href="#">Shop Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Sports Equipment</h5>
                    <div class="cloth_image">
                        <img src="./assets/images/sports.jpg">
                    </div>
                    <p class="card-text">sporting goods, are the tools, materials, apparel, and gear used to compete in a sport and varies depending on the sport.</p>
                    <a class="money btn mr-2" href="#">Shop Now</a>

                </div>
            </div>
        </div>

    </div>
</div>