.toy_image img,.cloth_image img {
    max-width: 100%;
    border-radius: 50%;
    max-height: 180px;
}
.card-body{
    min-height: 456px !important;
}
.toy_image,.cloth_image {
    text-align: center;
    margin-top: 18px;
}
p.card-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}
a.money.btn.mr-2 {
    font-weight: 700;
    padding: 0;
}
@media screen and (max-width:1400px){
    .card-body{
        min-height: 481px !important;
    }
}
@media screen and (max-width:1200px){
    .card-body{
        min-height: 490px !important;
    }
}
@media screen and (max-width:992px){
    .card-body{
        min-height: 557px !important;
    }
}
@media screen and (max-width:767px){
    .card-body{
        min-height: 400px !important;
    }
}
