<div class="container p-0">
    <div class="card px-4">
        <p class="h8 py-3">Deposit Details</p>
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Person Name</p>
                    <input class="form-control mb-3" type="text" placeholder="Name" value="Barry Allen">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Cheque Number</p>
                    <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p>
                    <input class="form-control mb-3" type="text" type="text" [bsConfig]="datepickerConfig" [maxDate]="bsValue" class="form-control" bsDatepicker
                    name="date"
                    formControlName="dateOfBirth">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Signature</p>
                    <input class="form-control mb-3" type="text" placeholder="Testing">
                </div>
            </div>
            <div class="col-12">
                <div class="btn btn-primary mb-3">
                    <span class="ps-3">Pay $243</span>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>