
<nav class="navbar navbar-expand-sm navbar-dark mt-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">My Account & Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payments / Transfers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bill Payments</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Deposit & Investment</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="sql">ACH Collections</a></li>
                <li><a class="dropdown-item" routerLink="typescript">Deposit Checks</a></li>
                <li><a class="dropdown-item" href="#">Bill Pay Directory</a></li>
              </ul>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" routerLink="/Transaction">Transactions</a>
          </li>
        </ul>
        <a class="navbar-brand" href="#">
            <a class="nav-link log-out" href="#">Sign Out</a>
          </a>
      </div>
    </div>
  </nav>
  