<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu-bar" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <img src="assets/images/logo.png" alt="Avatar Logo" style="width:40px; margin-left: 53px; padding-top: 15px;" class="rounded-pill"> -->
          <a class="nav-link" routerLink="summary">My Account & Profile</a>
        </li>
        <li class="nav-item">
          <!-- <img src="assets/images/payments.png" alt="Avatar Logo" style="width:40px; margin-left: 53px; padding-top: 15px;" class="rounded-pill"> -->
          <a class="nav-link" routerLink="transaction">Payments / Transfers</a>
        </li>
        <li class="nav-item">
          <!-- <img src="assets/images/pay.png" alt="Avatar Logo" style="width:40px; margin-left: 33px; padding-top: 15px;" class="rounded-pill"> -->
          <a class="nav-link" href="#">Bill Payments</a>
        </li>
        <li class="nav-item">
          <!-- <img src="assets/images/deposit.png" alt="Avatar Logo" style="width:40px; margin-left: 33px; padding-top: 15px;" class="rounded-pill"> -->
          <a class="nav-link" href="#">Deposit & Investment</a>
        </li>
        <li class="nav-item">
          <!-- <img src="assets/images/deposit.png" alt="Avatar Logo" style="width:40px; margin-left: 33px; padding-top: 15px;" class="rounded-pill"> -->
          <a class="nav-link" href="#">e-Services</a>
        </li>
      </ul>
      <ul class="navbar-nav" href="#">
        <!-- <img src="assets/images/logo.png" alt="Avatar Logo" style="width:40px; margin-left: 585px; padding-top: 15px;" class="rounded-pill ">  -->
        <a class="nav-link" href="#">Sign Out</a>
      </ul>
    </div>
  </div>
</nav>
<div class="container summary">
  <div class="account-summary">
    <router-outlet></router-outlet>
  </div>
  <div class="profile-help">
    <div class="profile">
      <span>Profile & Settings</span>
      <span>Last Session Summary</span>
      <span>a...i@outlook.com</span>
      <span>{{today | date:'medium'}}</span>
      <button type="button">Full Profile</button>
    </div>
    <div class="support">
      <span>Bank Services:</span>
      <span>800-555-1234</span>
    </div>
    <div class="points">
      <span>Ultimate Rewards</span>
      <span>{{points | number:'':'en-US'}}</span>
    </div>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col-md-3" style="background-color: #d3d3d3;">-->
  <!--      <h4>Last Login Date & Time</h4>-->
  <!--      <p>23-Mar-2023 [12:00:05 PM]</p>-->
  <!--    </div>-->
  <!--    <div class="col-md-3"></div>-->
  <!--    <div class="col-md-3"></div>-->
  <!--    <div class="col-md-3" style="background-color: #d3d3d3;">-->
  <!--      <h5>Welcome</h5>-->
  <!--      <h5>Mr. Surya</h5>-->
  <!--      <h5>Email ID: test@mail.com</h5>-->
  <!--    </div>-->
  <!--  </div>-->


  <!--  <div class="row">-->
  <!--    <div class="col-md-3">-->
  <!--      <button style="background-color: black; color: white; padding-right: 233px; margin-left: -11px">Quick Links-->
  <!--      </button>-->
  <!--    </div>-->
  <!--    <div class="col-md-9">-->
  <!--      <button style="background-color: blue; padding-right: 750px;">You are here:/</button>-->
  <!--    </div>-->

  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-md-3" style="background-color: aquamarine; margin-bottom: 200px;">-->
  <!--      <p>Apply For Credit Card.-->
  <!--        Go to eServices -> Apply-->
  <!--      </p>-->
  <!--      &lt;!&ndash; <p class="text-center">...............</p> &ndash;&gt;-->
  <!--    </div>-->
  <!--    <div class="col-md-9">-->
  <!--      <button-->
  <!--        style="background-color: rgb(164, 179, 174); padding-right: 654px;padding-bottom: 20px; padding-top:20px;">-->
  <!--        Forgot Profile Password-->
  <!--      </button>-->
  <!--      <span style="color: red;">Mandatory fields are marked with *</span>-->
  <!--      <span style="color: greenyellow;">Select the hint question and enter the answer to authenicate yourself</span>-->
  <!--      <form style="margin-top:-->
  <!--            20px;">-->
  <!--        &lt;!&ndash; Email input &ndash;&gt;-->
  <!--        <div class="form-outline mb-4">-->
  <!--          <label class="form-label" for="form2Example1">Hint Question *</label>-->
  <!--          <select class="form-select" aria-label="Default select example">-->
  <!--            <option selected>Open this select menu</option>-->
  <!--            <option value="1">One</option>-->
  <!--            <option value="2">Two</option>-->
  <!--            <option value="3">Three</option>-->
  <!--          </select>-->

  <!--        </div>-->

  <!--        &lt;!&ndash; Password input &ndash;&gt;-->
  <!--        <div class="form-outline mb-4">-->
  <!--          <label class="form-label" for="form2Example2">Hint Answer *</label>-->
  <!--          <input type="password" id="form2Example2" class="form-control"/>-->

  <!--        </div>-->

  <!--        &lt;!&ndash; 2 column grid layout for inline styling &ndash;&gt;-->
  <!--        <div class="row mb-4">-->
  <!--          <div class="col d-flex justify-content-center">-->


  <!--            <div class="col text-center">-->
  <!--              &lt;!&ndash; Simple link &ndash;&gt;-->
  <!--              <button type="button" class="btn btn-primary btn-block mb-4" style="margin-right:-->
  <!--                    20px;">Add-->
  <!--              </button>-->
  <!--              <button type="button" class="btn btn-primary btn-block mb-4">Question</button>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->

  <!--        &lt;!&ndash; Submit button &ndash;&gt;-->


  <!--        &lt;!&ndash; Register buttons &ndash;&gt;-->


  <!--      </form>-->
  <!--    </div>-->

  <!--  </div>-->

</div>
