  .dashboard{
        margin-top: 70px;
    }
    .nav-link{
        color: black; 
        width:200px;
    }
    .log-out{
        padding-left: 100px;
    }
    .form{
        margin-top:20px;
    }
    .quick-links{
        background-color: black; 
        color: white;
         padding-right: 233px; 
         margin-left: -11px;
    }
    .here{
        background-color: blue; 
        padding-right: 750px;
    }
    .credit{
        background-color: aquamarine; 
        margin-bottom: 200px;
    }
    .forgot{
        background-color: rgb(164, 179, 174); 
        padding-right: 654px;
        padding-bottom: 20px; 
        padding-top:20px;
    }
    .add{
        margin-right: 20px;
    }
   .dropdown-menu.show{
    display: block;
   }
   .navbar{
    background-color: #ff133766;
   }
   .navbar-brand{
    color: black;
   }
    