<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Logo</a>
		<button class="navbar-toggler" data-bs-target="#collapsibleNavbar" data-bs-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse menu-bar" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="summary/{{accountId}}">My Account & Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="transaction/{{accountId}}/{{accountType}}">Payments / Transfers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="deposit">Deposit</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Deposit & Investment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">e-Services</a>
				</li>
			</ul>
			<ul class="navbar-nav" href="#">
				<a class="nav-link" href="#">Sign Out</a>
			</ul>
		</div>
	</div>
</nav>
<div class="container summary">
	<div class="account-summary">
		<router-outlet></router-outlet>
	</div>
	<div class="profile-help">
		<div class="profile">
			<span>Profile & Settings</span>
			<span>Last Session Summary</span>
			<span>a...i@outlook.com</span>
			<span>{{today | date:'medium'}}</span>
			<button type="button">Full Profile</button>
		</div>
		<div class="support">
			<span>Bank Services:</span>
			<span>800-555-1234</span>
		</div>
		<div class="points">
			<span>Ultimate Rewards</span>
			<span>{{points | number:'':'en-US'}}</span>
		</div>
	</div>
</div>
